<div class="header">
  <ion-title class="titel">
    Enter your email
    <p class="subTitle">To Recieve a reset password link</p>
  </ion-title>
</div>
<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
  <div class="ion-padding">
    <ion-item>
      <ion-input
        placeholder="email"
        class="input"
        name="email"
        formControlName="email"
      ></ion-input>
      <ion-icon name="person-outline"> </ion-icon>
    </ion-item>
  </div>
  <ion-button type="submit" expand="block">register</ion-button>
</form>
