@if(isFetching() && !error()) {
<ion-card>
  <div
    style="
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <h1 style="text-align: center">chargement du signalement en cours...</h1>
  </div>
</ion-card>
} @if( error()) {
<ion-card>
  <div
    style="
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <h1 style="text-align: center">
      une erreur s'est produite , veuillez réesayer plus tard... {{ error() }}
    </h1>
  </div>
</ion-card>
} @if(singleSignalement()){

<ion-content>
  <ion-card style="padding-top: 3.5rem; position: relative">
    <ion-button
      routerLink="../"
      routerLinkActive="router-link-active"
      style="
        width: 70px;
        height: 40px;
        position: absolute;
        top: 4rem;
        left: 0.5rem;
        z-index: 999;
      "
      >back</ion-button
    >
    <swiper-container [loop]="true" [pagination]="true">
      @for(image of singleSignalement()?.images; track image) {
      <swiper-slide>
        <img
          [alt]="singleSignalement()?.title"
          [src]="image"
          style="height: 100%; width: 100%; object-fit: contain"
        />
      </swiper-slide>
      }
    </swiper-container>
    <ion-card-header>
      <ion-card-title>{{ singleSignalement()?.title }}</ion-card-title>
      <ion-card-subtitle>{{
        singleSignalement()?.date | date : "full"
      }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>{{ singleSignalement()?.content }}</p>
      <p>Lieu : {{ singleSignalement()?.location }}</p>
      <p>Catégorie : {{ singleSignalement()?.category }}</p>
      <p>Confirmations : {{ singleSignalement()?.confirmedByUsers?.length }}</p>
      <p>statut : {{ singleSignalement()?.status }}</p>
      <!-- @if(signalement?.confirmations > 0){
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      }@else {
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      } -->
      <ion-fab-button (click)="confirmSignalement()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>

      <ion-fab-button (click)="removeSignalement()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
      @if(singleSignalement()?.resolutionComment) {
      <p>
        Commentaire de résolution : {{ singleSignalement()?.resolutionComment }}
      </p>
      }
    </ion-card-content>
    @if(singleSignalement()?.status === 'En cours'){

    <ion-button (click)="updateSignalementStatus()"
      >Update signal status</ion-button
    >
    }
  </ion-card>
</ion-content>
}
