#map {
  width: 100%;
  height: 300px;
  min-height: 300px;
  border-radius: 15px;
}

.mapboxgl-canvas {
  width: 100% !important;
  height: 100% !important;
  min-height: 300px;
  border-radius: 15px;
}
