@if(singleSignalement()){
<ion-content>
  <ion-card
    style="
      padding-top: 4.5rem;
      position: relative;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      padding-bottom: 3rem;
    "
  >
    <ion-button
      (click)="goBack()"
      routerLinkActive="router-link-active"
      style="
        width: 70px;
        height: 40px;
        position: absolute;
        top: 4rem;
        left: 0rem;
        z-index: 10000;
        background-color: #007bff;
        color: #fff;
        border-radius: 8px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
      "
    >
      Retour
    </ion-button>

    <swiper-container [loop]="true" [pagination]="true">
      @for(image of singleSignalement()?.images; track image) {
      <swiper-slide>
        <img
          [alt]="singleSignalement()?.title"
          [src]="image"
          style="
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
          "
        />
      </swiper-slide>
      }
    </swiper-container>

    <ion-card-header style="text-align: center">
      <ion-card-title
        style="font-size: 1.5rem; font-weight: bold; margin-top: 10px"
      >
        {{ singleSignalement()?.title }}
      </ion-card-title>
      <ion-card-subtitle style="color: #666">
        {{ singleSignalement()?.date | date : "full" }}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content style="padding: 1.5rem">
      <p style="margin-bottom: 1rem; font-size: 1rem; color: #333">
        {{ singleSignalement()?.content }}
      </p>
      <p style="margin-bottom: 1rem; font-size: 1rem; color: #666">
        <strong>Lieu :</strong> {{ singleSignalement()?.location }}
      </p>
      <p style="margin-bottom: 1rem; font-size: 1rem; color: #666">
        <strong>Catégorie :</strong> {{ singleSignalement()?.category }}
      </p>
      <p
        style="
          margin-bottom: 1rem;
          font-size: 1rem;
          color: #666;
          display: flex;
          align-items: center;
        "
      >
        <strong>Confirmé par :</strong>
        {{ singleSignalement()?.confirmedByUsers?.length }} utilisateur(s)
        <ion-icon
          name="checkmark-done-outline"
          style="margin-left: 0.5rem; color: #28a745"
        ></ion-icon>
      </p>

      <p style="margin-bottom: 1rem; font-size: 1rem; color: #666">
        <strong>Statut :</strong> {{ singleSignalement()?.status }}
      </p>

      @if(showConfimBtn()) {
      <ion-fab-button
        (click)="confirmSignalement()"
        style="color: #fff; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2)"
      >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      } @if(singleSignalement()?.resolutionComment) {
      <p style="margin-top: 1rem; color: #007bff">
        <strong>Commentaire de résolution :</strong>
        {{ singleSignalement()?.resolutionComment }}
      </p>
      }
      <ion-label>
        <div
          id="map"
          style="
            height: 100%;
            width: 100%;
            min-height: 300px;
            border-radius: 15px;
          "
        ></div>
      </ion-label>
    </ion-card-content>

    <div
      style="
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        z-index: 999999;
      "
    >
      @if(singleSignalement()?.status === 'En cours') {
      <ion-button
        id="open-action-sheet"
        style="
          flex: 1;
          background-color: #ffc107;
          color: #fefefe;
          border-radius: 0;
        "
      >
        Mettre à jour le statut du signalement
      </ion-button>

      <ion-action-sheet
        trigger="open-action-sheet"
        header="Actions"
        [buttons]="actionSheetButtonsUpdate"
      ></ion-action-sheet>
      }

      <ion-button
        id="open-action-sheet-remove"
        style="
          width: auto;
          background-color: #dc3545;
          color: #fff;
          border-radius: 0;
        "
      >
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>

      <ion-action-sheet
        trigger="open-action-sheet-remove"
        header="Actions"
        [buttons]="actionSheetButtonsRemove"
      ></ion-action-sheet>
    </div>
  </ion-card>
</ion-content>
}
