<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToNotifications()">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bonjour, {{ userName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-text>{{ userEmail }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Catégorie</ion-label>
          <ion-text>{{ userCategory }}</ion-text>
        </ion-item>
        <!-- Ajoutez d'autres éléments de profil ici -->
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
