<div class="header">
  <ion-title class="title">Welcome</ion-title>
  <p class="subTitle">sign up to access your account</p>
</div>
@if(isFetching()){
<ion-progress-bar [value]="progress"></ion-progress-bar>
}@else{

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div div class="ion-padding">
    <div class="input-container">
      <ion-item style="width: 100%; padding: 0; position: relative">
        <ion-select
          aria-label="Fruit"
          interface="action-sheet"
          placeholder="Selectionner votre categorie"
          class="categories"
          formControlName="categorie"
          name="categorie"
          (ionChange)="handleSelectChange($event)"
          id="present-alert"
        >
          @for(categorie of availableCategories() ; track categorie.id){
          <ion-select-option [value]="categorie.text"
            >{{categorie.text}}</ion-select-option
          >
          }
        </ion-select>
      </ion-item>
    </div>
    <div class="input-container">
      <input
        placeholder="username"
        class="input"
        name="email"
        [formControl]="registerForm.controls.email"
      />
      <ion-icon name="person-outline" class="input-icon"></ion-icon>
    </div>
    <div class="input-container">
      <input
        class="input"
        placeholder="password"
        name="password"
        type="password"
        formControlName="password"
      />
      <ion-icon name="lock-closed-outline" class="input-icon"> </ion-icon>
    </div>
    @if(emailIsInvalid) {
    <div class="error-message">
      <label class="show"> Addresse email non valide</label>
    </div>
    } @if(passwordIsInvalid) {
    <div class="error-message">
      <label class="show">
        Mot de pass non valid et doit avoir une longeur de 8 charactere et dois
        contenir au moin un charactere special ou un emajuscule</label
      >
    </div>
    } @if(formSubmitted && registerForm.invalid) {
    <div class="error-message">
      <label class="show">
        fomulaire d'inscription invalide veuillez remplire tous les champs
      </label>
    </div>
    }
    <ion-button type="submit" expand="block">register</ion-button>
    <div class="forgotPassword">
      <a routerLink="/auth/password-reset" style="color: #ffc33f"
        >forgot password?
      </a>
    </div>
  </div>
  <div class="signinLink">
    <p>
      already member?<a style="color: #ffc33f" [routerLink]="['/auth/login']"
        >signin now</a
      >
    </p>
  </div>
</form>
}
