<ion-header>
  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button value="favorites" routerLink="/signalements/carte">
        <ion-label>carte</ion-label>
        <ion-icon name="map-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="all" routerLink="/signalements/liste">
        <ion-label>liste </ion-label>
        <ion-icon name="list-circle-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-router-outlet></ion-router-outlet>
