@if(isFetching()) {
<!-- Chargement en cours -->
<ion-card>
  <div
    style="
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <h1 style="text-align: center">Chargement des signalements en cours...</h1>
  </div>
</ion-card>
} @else if(error()) {
<!-- Erreur lors du chargement -->
<ion-card>
  <div
    style="
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <h1 style="text-align: center">
      Une erreur s'est produite, veuillez réessayer plus tard... {{ error() }}
    </h1>
  </div>
</ion-card>
} @else if(signalements().length === 0) {

<ion-card style="position: relative">
  <ion-item style="position: absolute; top: 4rem; width: 100%">
    <ion-select
      aria-label="Recherches"
      interface="action-sheet"
      placeholder="Filtrer les signalements"
      (ionChange)="onChangeSignalementsFilter(filter.value)"
      #filter
    >
      <ion-select-option value="all">Tous</ion-select-option>
      <ion-select-option value="inProgress">Statut: En cours</ion-select-option>
      <ion-select-option value="resolved">Statut: Résolus</ion-select-option>
      <ion-select-option value="mostConfirmed"
        >Le plus confirmés</ion-select-option
      >
      <ion-select-option value="mostRecent"
        >Les plus récentes</ion-select-option
      >
      <ion-select-option value="oldest">Les plus anciennes</ion-select-option>
    </ion-select>
  </ion-item>
  <div
    style="
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <h1 style="text-align: center">Aucun signalement à afficher</h1>
  </div>
</ion-card>
} @else{
<ion-card style="margin-top: 5rem">
  <app-signalement-large [signalementFenetre]="selectedSignalement()" />
</ion-card>
<ion-item>
  <ion-select
    aria-label="Recherches"
    interface="action-sheet"
    placeholder="Filtrer les signalements"
    (ionChange)="onChangeSignalementsFilter(filter.value)"
    #filter
  >
    <ion-select-option value="all">Tous</ion-select-option>
    <ion-select-option value="inProgress">Statut: En cours</ion-select-option>
    <ion-select-option value="resolved">Statut: Résolus</ion-select-option>
    <ion-select-option value="mostConfirmed"
      >Le plus confirmés</ion-select-option
    >
    <ion-select-option value="mostRecent">Les plus récentes</ion-select-option>
    <ion-select-option value="oldest">Les plus anciennes</ion-select-option>
  </ion-select>
</ion-item>
<ion-content>
  @for(signalement of signalements(); track signalement.id){
  <ion-list>
    <app-signalement-small
      [signalement]="signalement"
      (select)="onSelect($event)"
      [selected]="selectedSignalement().id === signalement.id"
    /> </ion-list
  >}@empty {
  <p>Aucun signalement pour le moment...</p>
  }
</ion-content>
}
